.clearfix{display:block;zoom:1;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.vhidden{visibility:hidden}
figure.code,div.code{position:relative;margin-bottom:12px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:0 1px 3px #999;-webkit-box-shadow:0 1px 3px #999;-o-box-shadow:0 1px 3px #999;box-shadow:0 1px 3px #999;background-color:#202020}
figure.code figcaption,div.code figcaption{font-size:10px;position:absolute;bottom:3px;right:12px;color:#666}
.highlight{-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border-top-left-radius:6px;border-top-right-radius:6px;}
.highlight pre{font-family:Monaco,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;font-size:12px;padding:16px 12px 12px;line-height:24px;margin-bottom:8px}
code{font-family:Monaco,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;background-color:#fff;padding:0 2px;color:#777}
nav{margin-top:184px;}
nav header:before{content:" ►"}
nav header.open:before{content:" ▼"}
nav h1{font-weight:normal;color:#999;letter-spacing:2px;text-transform:uppercase;text-align:left;padding-bottom:6px;margin-bottom:12px}
nav h2{color:#444;letter-spacing:1px;text-align:left}
nav ol.cat{display:none;}
nav ol.cat.active{display:block}
nav li{margin-left:0;padding-left:0;line-height:20px;list-style-type:none;font-size:12px;}
nav li a{color:#999;text-decoration:none;margin-left:0;display:inline-block;padding:1px 6px 2px;}
nav li a:hover{color:#084a5e}
nav li a.active{-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;background-color:#084a5e;color:#fff}
nav div.sect{margin-top:12px;}
nav div.sect:first-child{margin-top:12px}
nav div.sect header{display:block;zoom:1;cursor:pointer;padding-top:6px;color:#006c83;}
nav div.sect header:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
nav div.sect header h2{color:inherit}
nav div.sect h2{float:left;width:219px;margin:0;font-size:14px;border:0;letter-spacing:0;margin-top:-4px}
nav div.sect h3{margin-top:12px;margin-left:6px}
.blurb{display:block;zoom:1;}
.blurb:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.col{width:48%;float:left;margin:0 1%;}
.col h3{font-size:14px;margin:16px 0}
.col p{font-size:12px;}
.col p.more{font-size:14px;color:#999;margin-bottom:16px}
.col.last{margin:0;float:right}
.col img{float:left;margin:10px 8px}
