.clearfix{display:block;zoom:1;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.vhidden{visibility:hidden}
figure.code,div.code{position:relative;margin-bottom:12px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:0 1px 3px #999;-webkit-box-shadow:0 1px 3px #999;-o-box-shadow:0 1px 3px #999;box-shadow:0 1px 3px #999;background-color:#202020}
figure.code figcaption,div.code figcaption{font-size:10px;position:absolute;bottom:3px;right:12px;color:#666}
.highlight{-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border-top-left-radius:6px;border-top-right-radius:6px;}
.highlight pre{font-family:Monaco,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;font-size:12px;padding:16px 12px 12px;line-height:24px;margin-bottom:8px}
code{font-family:Monaco,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;background-color:#fff;padding:0 2px;color:#777}
#content{width:100%}
.blurb{display:block;zoom:1;}
.blurb:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.col{width:45%;float:left;margin:0 1%;}
.col h3{font-size:20px;margin:16px 0}
.col p{font-size:12px;}
.col p.more{font-size:18px;color:#999;margin-bottom:16px}
.col.last{margin:0;float:right}
.col img{float:left;margin:32px 20px}
